html,body {
  width: 100%;
  height: 100%;
}

#siteHeader {
  position: relative;
  z-index: 2;
}

/* Need to use a separate div instead of just body directly because of Wordpress */
#buildContainer {
  position: fixed;
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* Change the style of the scrollbars to look nice */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background: #00000000;
}

::-webkit-scrollbar-thumb {
	background: #aaa;
	border-radius: 4px;
}

::-webkit-scrollbar-track {
	background: #00000000;
}

/* Team Header styles */
#teamHeaderContainer {
  background: linear-gradient(135deg, rgb(169, 184, 195) 100%, rgb(238, 238, 238) 0%);
  padding: 30px, 0px;
}

#teamHeader {
  max-width: 50%;
  margin: auto;
  padding: 10px;
}

#teamHeader * {
  background-color: transparent;
  border-color: transparent;
  display: inline-block;
  margin: 0px;
}

#teamOwner {
  font-size: 18px;
}

.teamInput {
  padding: 0px;
  border: 1px solid transparent;
}

input#teamName {
  font-size: 24px;
}

.teamSelect {
  padding: 0px;
  border: 1px solid transparent;
  font-size: 12px;
  background-color: transparent;
}

#teamFormatContainer {
  display: flex;
  gap: 20px;
}

#teamPointLimit {
  flex-basis: max-content;
}

#teamFormat {
  flex-basis: max-content;
  align-self: flex-end;
}

#teamVisibility {
  flex-basis: max-content;
}

/* Team Body styles */
#teamBodyContainer {
  display: flex;
  background-color: transparent;
  flex: 1 1 auto;
  overflow-y: auto;
}

#searchNav {
  z-index: 2;
}

.searchNavButton a:hover {
  background-color: #9e9e9e;
}

.searchNavButton a:active {
  background-color: #757575;
}

#quickSearchBox {
  width:300px;
  height:63px;
  color:white;
}

#quickSearchBox:focus-within label i,
#quickSearchBox:focus-within #quickSearch {
  color: black !important;
}

#quickSearch {
  color: white;
}

/* Hack to keep the colors the same when using autofill. */
#quickSearch:-webkit-autofill,
#quickSearch:-webkit-autofill:focus,
#quickSearch:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

/* Unit area styles */
#unitContainer {
  flex: 0 0 auto;
  position: relative;
  left: 0px;
  width: 400px;
  transition: 0.5s;
}

.tooltip {
  position: relative;
  display: inline-block;
  line-height: normal;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  bottom: 100%;
  left: 100%;
  background-color: white;
  border: 1px solid black;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 10;
  font-family: Roboto;
  font-weight: normal;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#teamContainer {
  flex: 1 1 auto;
  min-width: 600px;
  position: relative;
  transition: 0.5s;
}
