/* Nav Panel styles */
#sideNav {
  position: relative;
  width: 300px;

  display: flex;
  flex-direction: column;
  padding: 0px;

  flex: 0 0 auto;

  z-index: 1;
  transition: 0.5s;
}

#sideNavTitle {
  box-shadow: 0 2px 2px 0 rgb(0, 0, 0, 0.2);
  z-index: 2;
}

#panelTitleBar {
  position: relative;
  width: 300px;
  height: 60px;
  background-color: #90a4ae;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.panelTitleButton {
  position: relative;
  width: 54px;
  height: 60px;
  color: white;
  text-align: center;
  line-height: 75px;
}

.panelTitleButton:hover {
  background-color: #78909c;
}

.panelTitleButton:focus {
  background-color: #607d8b;
  outline: none;
}

#panelTitle {
  position: absolute;
  left: 60px;
}

.navPanel {
  background-color: white;
}

.navPanel .collection,
#searchOptions {
  position: absolute;
  margin: 0px !important;
  width: 300px;
  height: calc(100% - 120px);
  overflow-y: auto;
}

.navPanel .collection .collection-header {
  min-height: 63px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.navPanel .collection .collection-item {
  min-height: 0px !important;
  padding: 0px !important;
}

.navPanel .collection .collection-item a {
  padding: 10px 20px !important;
  display: block;
}

.navPanel .collection .collection-item a:hover {
  background-color: #f5f5f5;
}

.navPanel .collection .collection-item a:focus {
  background-color: #e5e5e5;
  outline: none;
}

.navPanel .collection .collection-item a:active {
  background-color: #d8d8d8;
}

.listPanelImageDiv {
  position: absolute;
  left: 15px;
  height: 42px;
  display: flex;
  align-items: center;
}

.listPanelInfo {
  padding-left: 40px !important;
  color: black;
}

.listPanelMinorInfo {
  left: 40px;
  font-size: 10px !important;
}

#sideNavToggle {
  position: absolute;
	top: 10px;
	left: 300px;
	border-radius: 0px 30px 30px 0px;
	background-color: #212121;
	line-height: 35px;
	width: 25px;
	transition: 0.5s;
	border-right: 1px solid white;
}

#sideNavToggleIcon {
	font-size: 1.8rem;
	text-align: center;
	color: white;
	line-height: 35px;
	width: 32px;
	left: -5px;
	display: block;
	position: relative;
	transition: 0.6s;
}

#searchOptions {
  background-color: white;
}

#searchOptions li .collapsible-body {
  padding: 0;
}

#searchOptions li .collapsible-body .row .input-field {
  margin: 13px 0 3px 0;
}

#searchOptions li .collapsible-body .row .input-field.col label {
  top: -20px;
}

#searchOptions li .collapsible-body .row .input-field div ul {
  max-height: 400px;
}

#searchOptions .row {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 0px;
}

#searchOptionsTeamAbilities .input-field {
  margin-bottom: 10px;  
}

#searchOptionKeywordsLabel {
  position: absolute;
  top: -20px;
  font-size: .8rem;
}

.searchOptionsLabel {
  margin: 0 0 5px 10px;
}

#searchOptionKeywords .autocomplete-content {
  width: 300px !important;
}
