<!DOCTYPE html>
<html lang="en-US">

<head>
  {% block link_tags %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.2.1/dist/css/materialize.min.css">
  <link type="text/css" rel="stylesheet" href="/static/css/hcunits.css">
  {% endblock %}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="creator" content="Clay Wood">
  <title>HCUnits - Build and share HeroClix teams!</title>
  <link rel="icon" type="image/x-icon" href="/static/images/logo/favicon.ico">
</head>

<body>
  <div id="pageContainer">
    <header id="header">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo left">
            <img src="/static/images/logo/logo_2x1_med.png" alt='' style='padding-top: 2px;'/>
          </a>
          <ul id="headerLinks" class="left">
            <li class='navButton'>
              <a class="dropdown-trigger" href="#" data-target="buildDropdown">{% block build_label %}Build{% endblock %}</a>
            </li>
            <li class='navButton'>
              <a class="dropdown-trigger" href="#" data-target="exploreDropdown">{% block explore_label %}Explore{% endblock %}</a>
            </li>
            <li class='navButton'>
              <a href="/help/">{% block help_label %}Help{% endblock %}</a>
            </li>
            <li>
            </li>
          </ul>
          <ul class="right">
            <li class='navButton'>
            {% if user.is_authenticated %}
              <a class="dropdown-trigger" href="#" data-target="accountActionsDropdown">{{ user.username }}<i class="material-icons right">arrow_drop_down</i></a>
            {% else %}
              <a href="/accounts/login/"><i class="material-icons left">login</i>Login</a>
            {% endif %}
            </li>
          </ul>
        </div>
      </nav>
      <form id="createTeamForm" method="post" action="{% url 'create_team' %}">
        {% csrf_token %}
        <ul id="buildDropdown" class="dropdown-content">
          <li><a href="#" onclick="document.getElementById('createTeamForm').submit()"><i class="material-icons left">add_circle</i>New Team</a></li>
          <li><a href="/users/"><i class="material-icons left">construction</i>Existing</a></li>
          <li><a href="/custom/"><i class="material-icons left">edit_square</i>Custom Unit</a></li>
        </ul>
      </form>

      <ul id="exploreDropdown" class="dropdown-content">
        <li><a href="/explore/units/"><i class="material-icons left">person</i>Units</a></li>
        <li><a href="/explore/teams/"><i class="material-icons left">group</i>Teams</a></li>
      </ul>
      {% if user.is_authenticated %}
      <form id="logoutForm" method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        <ul id="accountActionsDropdown" class="dropdown-content">
          <li><a href="/users/{{ user.username }}/"><i class="material-icons left">account_box</i>Profile</a></li>
          <li><a href="#" onclick="document.getElementById('logoutForm').submit()"><i class="material-icons left">logout</i>Logout</a></li>
        </ul>
      </form>
      {% endif %}
    </header>
    <main>
      {% block main %}
      {% endblock %}
    </main>
    <footer id="footer">
      <div class="container">
        <p>WizKids, HeroClix, and their logos are trademarks of WIZKIDS/NECA, LLC in the United States and other countries. &copy; 2023 WIZKIDS/NECA, LLC. All rights reserved.</p>
        <p>HCUnits is not affiliated with, endorsed, sponsored, or specifically approved by WIZKIDS/NECA, LLC. HeroClix, WizKids and Combat Dial are trademarks of WIZKIDS/NECA, LLC. For more information about NECA/WizKids or any trademarks or other intellectual property, please visit their website at <a href="https://wizkids.com/">WizKids.com</a>.</p>
        <p>&copy; 2023 HCUnits &middot; <a href="/help/tos/">Terms of Service</a> &middot; <a href="/help/privacy/">Privacy Policy</a> &middot; <span>Version 2023.02.05.1</span></p>
      </div>
    </footer>
  </div>

  {% block script_tags %}
  <!-- Javascript at end of body for optimized loading. -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.2.1/dist/js/materialize.min.js"></script>
  {% endblock %}
  
  <script>
    // Do we need this?
    //function handleCredentialResponse(response) {
    //  console.log(response)
    //}
    $(".dropdown-trigger").dropdown();
  </script>
</body>
</html>
