{% extends "base.html" %}

{% block link_tags %}
  {{ block.super }}
  <link href="https://fonts.cdnfonts.com/css/gill-sans" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/static/css/build.css" media="screen,projection">
  <link type="text/css" rel="stylesheet" href="/static/css/character.css" media="screen,projection">
  <link type="text/css" rel="stylesheet" href="/static/css/object.css" media="screen,projection">
  <link type="text/css" rel="stylesheet" href="/static/css/side_nav.css" media="screen,projection">
  <link type="text/css" rel="stylesheet" href="/static/css/unit.css" media="screen,projection">
{% endblock %}

{% block main %}
<div id="teamHeaderContainer">
  <div id="teamHeader" class="row">
    <H4>Team Owner</H4>
    <div class="input-field col s12">
      <input id="teamName" type="text" class="validate" placeholder="Change Team Name">
      <label for="teamName"></label>
    </div>
    <div class="input-field col s12">
      <input id="teamDescription" type="text" placeholder="Change Team Description">
    </div>
    <div class="input-field col s12 m3">
      <input id="teamPointLimit" class="teamInput" type="number" min="0" max="9999" value="300">
      <label for="teamPointLimit">Points</label>
    </div>
    <div class="input-field col s12 m5">
      <select>
        <option value="modern">Modern</option>
        <option value="golden">Golden</option>
      </select>
      <label>Age</label>
    </div>
    <div class="input-field col s12 m4">
      <select>
        <option value="unlisted">Unlisted</option>
        <option value="public">Public</option>
      </select>
      <label>Visibility</label>
    </div>
  </div>
</div>
<div id="exploreTabBar">
  <ul id="exploreTabList" class="tabs">
    <li class="tab">
      <a class="active" href="" onclick='sideNav.showSetList(); return false;' title="Browse by Set">
        <i class="material-icons">library_books</i>
      </a>
    </li>
    <li class="tab">
      <a href="" onclick='sideNav.showFavorites(); return false;' title="Favorites">
        <i class="material-icons">star</i>
      </a>
    </li>
    <li class="tab">
      <a href="" onclick='sideNav.showAdvancedSearch(); return false;' title="Advanced Search">
        <i class="material-icons">manage_search</i>
      </a>
    </li>
  </ul>
  <form onsubmit="sideNav.showQuickSearchResults(); return false;">
    <div id="quickSearchBox">
      <div id="quickSearchButton" class="fixed-action-btn">
        <a class="btn-floating btn-medium waves-effect-waves-light blue" onclick="sideNav.showQuickSearchResults(); return false;">
          <i class="material-icons" style="color:white;">search</i>
        </a>
      </div>
      <input id="quickSearch" type="text" required placeholder="Search for Units">
    </div>
  </form>
</div>
<div id="teamBodyContainer">
  <div id="sideNav" style="left:0px">
    <div id="sideNavHeader"></div>
    <div id="sideNavFooter" style="visibility:hidden;">
      <a class='sideNavFooterButton' href='#' onclick='sideNav.resetAdvancedSearch(); return false;' title="Reset Options">
        <i class='material-icons'>restart_alt</i>
      </a>
      <a class='sideNavFooterButton' href='#' onclick='sideNav.showAdvancedSearchResults(); return false;' title="Search">
        <i class='material-icons'>search</i>
      </a>
    </div>
    <div id="setListPanel" class="navPanel"></div>
    <div id="favoritesPanel" class="navPanel" style="display:none;"></div>
    <div id="advancedSearchPanel" class="navPanel" style="display:none;"></div>
    <div id="unitListPanel" class="navPanel" style="display:none;"></div>
  </div>
  <div id="unitContainer"></div>
  <div id="teamContainer">
    Team details go here
  </div>
</div>
{% endblock %}

{% block script_tags %}
  {{ block.super }}
  <!-- Site-specific JS includes -->
  <script type="text/javascript" src="/static/js/constants/constants.js"></script>
  <script type="text/javascript" src="/static/js/constants/combat_symbol_list.js"></script>
  <script type="text/javascript" src="/static/js/constants/improved_ability_list.js"></script>
  <script type="text/javascript" src="/static/js/constants/keyword_list.js"></script>
  <script type="text/javascript" src="/static/js/constants/power_list.js"></script>
  <script type="text/javascript" src="/static/js/constants/set_list.js"></script>
  <script type="text/javascript" src="/static/js/constants/team_ability_list.js"></script>
  <script type="text/javascript" src="/static/js/constants/type_list.js"></script>
  <script type="text/javascript" src="/static/js/constants/universe_list.js"></script>

  <script type="text/javascript" src="/static/js/search_options/search_option.js"></script>
  <script type="text/javascript" src="/static/js/search_options/search_by_combat_symbol.js"></script>
  <script type="text/javascript" src="/static/js/search_options/search_by_combat_value.js"></script>
  <script type="text/javascript" src="/static/js/search_options/search_by_improved_movement.js"></script>
  <script type="text/javascript" src="/static/js/search_options/search_by_improved_targeting.js"></script>
  <script type="text/javascript" src="/static/js/search_options/search_by_keyword.js"></script>
  <script type="text/javascript" src="/static/js/search_options/search_by_name.js"></script>
  <script type="text/javascript" src="/static/js/search_options/search_by_point_value.js"></script>
  <script type="text/javascript" src="/static/js/search_options/search_by_power.js"></script>
  <script type="text/javascript" src="/static/js/search_options/search_by_real_name.js"></script>
  <script type="text/javascript" src="/static/js/search_options/search_by_set.js"></script>
  <script type="text/javascript" src="/static/js/search_options/search_by_team_ability.js"></script>
  <script type="text/javascript" src="/static/js/search_options/search_by_type.js"></script>

  <script type="text/javascript" src="/static/js/panels/nav_panel.js"></script>
  <script type="text/javascript" src="/static/js/panels/list_panel.js"></script>
  <script type="text/javascript" src="/static/js/panels/set_list_panel.js"></script>
  <script type="text/javascript" src="/static/js/panels/unit_list_panel.js"></script>
  <script type="text/javascript" src="/static/js/panels/favorites_panel.js"></script>
  <script type="text/javascript" src="/static/js/panels/advanced_search_panel.js"></script>

  <script type="text/javascript" src="/static/js/unit_view.js"></script>
  <script type="text/javascript" src="/static/js/character_view.js"></script>
  <script type="text/javascript" src="/static/js/object_view.js"></script>
  <script type="text/javascript" src="/static/js/side_nav.js"></script>

  <script type="text/javascript" src="/static/js/data_source.js"></script>
  <script type="text/javascript" src="/static/js/view_manager.j"></script>

  <!-- Include this last, as it runs the code -->
  
  <script type="text/javascript" src="/static/js/main_build.js"></script>
{% endblock %}