{% extends "base.html" %}

{% block help_label %}<b>Help</b>{% endblock %}

{% block main %}
<div class="container">
  <div class="row s12">
    <h3>Privacy Policy</h3>
    <h6><b>Effective Date: February 5th, 2023</b></h6>
    <p>
      We take your privacy very seriously and we work hard to earn and keep
      your trust. As such, we adhere to the following basic principles to
      protect your privacy. We may collect certain information from you on
      or through this website (the *Site*). We use this information to
      deliver the services offered on the Site, to inform you of changes to
      the Site or your account, to enhance the Site, to prevent illegal or
      potentially prohibited conduct, and to enforce our Terms of Use
      (the *Terms*), which incorporate this Privacy Policy by reference.
    </p>
    <p>
      This Privacy Policy governs our information management policies
      including, without limitation, how we gather, store, or share your
      information, if at all. Notwithstanding anything to the contrary, this
      Privacy Policy does not apply to information that is gathered or
      collected offline.
    </p>
    <p>
      By using the Site and by submitting information on this Site, you
      agree to the practices described in this Privacy Policy and to any
      other applicable terms, including the Terms. The information collected
      from this Site may be retained indefinitely, and may be stored,
      accessed, and used in jurisdictions whose privacy laws may be
      different or less protective than those of your home jurisdiction.
    </p>

    <h6><b>Information about Cookies</b></h6>
    <p>
      Some features and advertisements on the Site may contain “cookies” or
      similar preference-tracking technologies. A cookie is a small data
      file stored by your Internet browser, provided that your computer is
      set to accept cookies. Cookies help improve the user experience by
      identifying and gathering information about a user, their browser and
      preferences for websites they have already visited. The use of cookies
      allows us to better understand how our users interact with the Site so
      we can work to improve your user experience.
    </p>
    <p>
      Most modern Internet browsers allow you to change your settings to
      prevent the storage of new cookies, receive warnings prior to their
      storage, or to delete cookies from your computer altogether. Please
      review your browser’s instructions for more information, or visit
      <a href='https://www.cookiecentral.com/faq'>www.cookiecentral.com/faq</a>.
      Please be aware that if you choose to disable cookies, some portions
      of the Site may cease functioning properly.
    </p>

    <h6><b>The Information We Collect</b></h6>
    <p>
      Your use of the Site will be anonymous unless you provide us with
      personally identifiable information or have provided such information
      in the past.
    </p>

    <p>
      The information we collect and how we use it falls into these categories:
    <ul style="padding-left: 20px;">
      <li style="list-style-type: square !important;">
        Information provided to us upon registration (ie. the username).
        This information may be shared with others upon taking action to
        do so.
      </li>
      <li style="list-style-type: square !important;">
        Information generated by the user through use of the product
        (ie. HeroClix team and Tournament reports). This information may
        be shared with others upon taking action to do so. This
        information may also be used to generate additional site content,
        such as usage statistics, which may be anonymously shared with
        others.
      </li>
      <li style="list-style-type: square !important;">
        Information generated by your computer and browser upon visiting
        the site, collected through logging. This information may be used
        to maintain the safety, security, and integrity of our website,
        services and platforms, databases and other technology assets.
      </li>
    </ul>
    </p>

    <h6><b>Children and Privacy</b></h6>
    <p>
      This Site is NOT directed towards children under the age of 13. We
      recognizes the importance of maintaining the privacy of children,
      especially those under the age of 13. We are committed to complying
      with all applicable laws and regulations regarding children, including
      the Children’s Online Privacy Protection Act (“COPPA”), 15 U.S.C. §
      6501, et seq. Except in limited and permitted circumstances allowed by
      COPPA, we do not and will not knowingly request, collect, store,
      maintain, or share any personally identifiable information of children
      under the age of 13, without first obtaining the consent of a legal
      guardian. In those limited instances, we will only collect reasonably
      necessary information, and we will not share with third parties any
      personally identifiable information of a child under the age of 13
      without the explicit consent of a legal guardian, or as permitted by
      COPPA or other applicable law.
    </p>
    <p>
      You may revoke your consent and request the removal of your child’s
      information at any time. If you are the legal guardian of a child
      under the age of 13 and discover that your child has submitted their
      personally identifiable information without securing your consent, we
      will use commercially reasonable efforts to remove this information.
      If at any point you wish to review, amend, or request the removal of
      your child’s information, please send an e-mail to
      <a href='mailto:webmaster@hcunits.net'>webmaster@hcunits.net</a>, and
      provide the name and account information for your child’s user
      account.
    </p>

    <h6><b>Security</b></h6>
    <p>
      The security of your Personal Information is important to us, but
      remember that no method of transmission over the Internet, or method
      of electronic storage, is 100% secure. While we strive to use
      commercially acceptable means to protect your Personal Information, we
      cannot guarantee its absolute security.
    </p>

    <h6><b>Notification of Changes</b></h6>
    <p>
      Any changes to our Privacy Policy will be posted to this page so users
      are always aware of the information we collect and how we use it.
      Accordingly, please refer back to this Privacy Policy frequently as it
      may change.
    </p>

    <h6><b>Questions</b></h6>
    <p>
      If you have any questions regarding this Privacy Policy, please
      contact us at <a href='mailto:webmaster@hcunits.net'>webmaster@hcunits.net</a>.
    </p>
  </div>
</div>
{% endblock %}