{% extends "base.html" %}

{% block link_tags %}
  {{ block.super }}
  <link type="text/css" rel="stylesheet" href="/static/css/team_list.css">
  <link type="text/css" rel="stylesheet" href="/static/css/user.css">
{% endblock %}

{% block main %}
<div id="userContainer" class="row">
  <div id="userHeader" class="row">
    <br>
    <h3 class="center-align">{{ owner }}</h3>
  </div>
</div>

{% if user.is_authenticated %}
<div id="userTeamList" class="teamListContainer"></div>
{% else %}
<div id="recentTeamList" class="teamListContainer"></div>
{% endif %}
{% endblock %}

{% block script_tags %}
  <script type="text/javascript" src="/static/js/team_list_manager.js"></script>

  {{ block.super }}
  {% if user.is_authenticated and user.username == owner %}
  {{ team_list|json_script:'userTeams' }}
  <script id="recentTeams" type="applications/json"></script>
  {% else %}
  {{ team_list|json_script:'recentTeams' }}
  <script id="userTeams" type="applications/json"></script>
  {% endif %}
  <script type="text/javascript">
    var teamListManager = new TeamListManager(
        document.getElementById('userTeams').textContent,
        document.getElementById('recentTeams').textContent);
  </script>
{% endblock %}