{% extends "base.html" %}

{% block link_tags %}
  {{ block.super }}
  <link href="https://fonts.cdnfonts.com/css/gill-sans" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/static/css/team.css">
  <link type="text/css" rel="stylesheet" href="/static/css/unit.css">
  {% block side_nav_css %}
  <link type="text/css" rel="stylesheet" href="/static/css/side_nav.css">
  {% endblock %}
{% endblock %}

{% block main %}
<div id="teamHeaderContainer">
  {% block team_header %}
  {% endblock %}
</div>

{% block explore_tab_bar %}
<div id="exploreTabBar">
  <ul id="exploreTabList" class="tabs">
    <li class="tab">
      <a class="active" href="" onclick='sideNav.showSetList(); return false;' title="Browse by Set">
        <i class="material-icons">library_books</i>
      </a>
    </li>
    {% block favorites_tab %}
    <li class="tab">
      <a href="" onclick='sideNav.showFavorites(); return false;' title="Favorites">
        <i class="material-icons">star</i>
      </a>
    </li>
    {% endblock %}
    <li class="tab">
      <a href="" onclick='sideNav.showAdvancedSearch(); return false;' title="Advanced Search">
        <i class="material-icons">manage_search</i>
      </a>
    </li>
  </ul>
  <form onsubmit="sideNav.showQuickSearchResults(); return false;">
    <div id="quickSearchBox">
      <div id="quickSearchButton">
        <a class="btn-floating btn-medium waves-effect-waves-light blue" onclick="sideNav.showQuickSearchResults(); return false;">
          <i class="material-icons" style="color:white;">search</i>
        </a>
      </div>
      <input id="quickSearch" type="text" required placeholder="Search for Units">
    </div>
  </form>
</div>
{% endblock %}

<div id="teamBodyContainer">
  {% block side_nav %}
  <div id="sideNav" style="left:0px">
    <div id="sideNavHeader">
      <a id="sideNavBackButton" class="sideNavHeaderButton" href="" onclick="sideNav.popPanel(); return false;" title="Back" style="visibility:hidden;">
        <i class="material-icons">arrow_back</i>
      </a>
      <div id="sideNavPanelTitle"></div>
      <div id="sideNavSortOrderButton" class="sideNavHeaderButton" title="Sort Order" style="visibility:hidden;">
        <a href="#" class="dropdown-trigger" data-target="sideNavSortOrderDropdown">
          <i class="material-icons">sort</i>
        </a>
        <ul id='sideNavSortOrderDropdown' class='dropdown-content'></ul>
      </div>
    </div>
    <div id="sideNavFooter" style="visibility:hidden;">
      <a class='sideNavFooterButton' href='#' onclick='sideNav.resetAdvancedSearch(); return false;' title="Reset Options">
        <i class='material-icons'>restart_alt</i>
      </a>
      <a class='sideNavFooterButton' href='#' onclick='sideNav.showAdvancedSearchResults(); return false;' title="Search">
        <i class='material-icons'>search</i>
      </a>
    </div>
    <div id="setListPanel" class="navPanel"></div>
    {% block favorites_panel %}
    <div id="favoritesPanel" class="navPanel" style="display:none;"></div>
    {% endblock %}
    <div id="advancedSearchPanel" class="navPanel" style="display:none;"></div>
    <div id="unitListPanel" class="navPanel" style="display:none;"></div>
  </div>
  {% endblock %}
  <div id="teamAndUnitContainer" class="container">
    <div class="column">
      <div class="row">
        {% block team_container %}
        <div id="teamContainer"></div>
        {% endblock %}
        <div id="unitContainer">
          <div id="unitCardsContainer"></div>
          <div id="addUnitButtonContainer"></div>
          <div id="favoriteButtonContainer"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script_tags %}
  {{ block.super }}
  <script type="text/javascript" src="/static/js/constants/constants.js"></script>
  <script type="text/javascript" src="/static/js/constants/combat_symbol_list.js"></script>
  <script type="text/javascript" src="/static/js/constants/improved_ability_list.js"></script>
  <script type="text/javascript" src="/static/js/constants/keyword_list.js"></script>
  <script type="text/javascript" src="/static/js/constants/power_list.js"></script>
  <script type="text/javascript" src="/static/js/constants/rarity_list.js"></script>
  <script type="text/javascript" src="/static/js/constants/set_list.js"></script>
  <script type="text/javascript" src="/static/js/constants/team_ability_list.js"></script>
  <script type="text/javascript" src="/static/js/constants/type_list.js"></script>
  <script type="text/javascript" src="/static/js/constants/universe_list.js"></script>

  {% block side_nav_includes %}
  <script type="text/javascript" src="/static/js/search_options/search_option.js"></script>
  <script type="text/javascript" src="/static/js/search_options/search_by_combat_symbol.js"></script>
  <script type="text/javascript" src="/static/js/search_options/search_by_combat_value.js"></script>
  <script type="text/javascript" src="/static/js/search_options/search_by_improved_movement.js"></script>
  <script type="text/javascript" src="/static/js/search_options/search_by_improved_targeting.js"></script>
  <script type="text/javascript" src="/static/js/search_options/search_by_keyword.js"></script>
  <script type="text/javascript" src="/static/js/search_options/search_by_name.js"></script>
  <script type="text/javascript" src="/static/js/search_options/search_by_point_value.js"></script>
  <script type="text/javascript" src="/static/js/search_options/search_by_power.js"></script>
  <script type="text/javascript" src="/static/js/search_options/search_by_real_name.js"></script>
  <script type="text/javascript" src="/static/js/search_options/search_by_set.js"></script>
  <script type="text/javascript" src="/static/js/search_options/search_by_team_ability.js"></script>
  <script type="text/javascript" src="/static/js/search_options/search_by_type.js"></script>
  
  <script type="text/javascript" src="/static/js/panels/nav_panel.js"></script>
  <script type="text/javascript" src="/static/js/panels/list_panel.js"></script>
  <script type="text/javascript" src="/static/js/panels/set_list_panel.js"></script>
  <script type="text/javascript" src="/static/js/panels/unit_list_panel.js"></script>
  <script type="text/javascript" src="/static/js/panels/favorites_panel.js"></script>
  <script type="text/javascript" src="/static/js/panels/advanced_search_panel.js"></script>
  <script type="text/javascript" src="/static/js/side_nav.js"></script>
  {% endblock %}

  <script type="text/javascript" src="/static/js/data_source.js"></script>
  <!--<script type="text/javascript" src="/static/js/mock_data_source.js"></script>-->
  <script type="text/javascript" src="/static/js/unit_manager.js"></script>
  
  {% block team_manager_includes %}
  <script type="text/javascript" src="/static/js/team_manager.js"></script>
  {% endblock %}

  <script type="text/javascript" src="/static/js/unit_view/base_unit_view.js"></script>
  <script type="text/javascript" src="/static/js/unit_view/small_unit_view.js"></script>
  <script type="text/javascript" src="/static/js/unit_view/character_view.js"></script>
  <script type="text/javascript" src="/static/js/unit_view/bystander_view.js"></script>
  <script type="text/javascript" src="/static/js/unit_view/card_view.js"></script>
  <script type="text/javascript" src="/static/js/unit_view/object_view.js"></script>
  <script type="text/javascript" src="/static/js/unit_view/map_view.js"></script>

  <script type="text/javascript" src="https://hcmaps.net/js/edge.js"></script>
  <script type="text/javascript" src="https://hcmaps.net/js/tile.js"></script>
  <script type="text/javascript" src="https://hcmaps.net/js/wall.js"></script>
  <script type="text/javascript" src="https://hcmaps.net/js/map.js"></script>

  {% block read_only %}
  <script type="text/javascript">const READ_ONLY = true;</script>
  {% endblock %}

  {% block scripts %}
  {% block team_object %}
  {{ team|json_script:'teamObject' }}
  {% endblock %}
  {% block favorites_object %}
  {{ favorites|json_script:'favoritesObject' }}
  {% endblock %}
  <script type="text/javascript">
    const csrfToken = "{{csrf_token}}";
    const dataSource = new DataSource(csrfToken);
    //const dataSource = new MockDataSource();
    const unitManager = new UnitManager(dataSource);
    {% block team_manager_scripts %}
    const teamManager = new TeamManager(
        unitManager,
        document.getElementById('teamObject').textContent,
        csrfToken);
    {% endblock %}
    {% block side_nav_scripts %}
    const favorites = document.getElementById('favoritesObject').textContent;
    const favoritesPanel = new FavoritesPanel(unitManager, favorites, csrfToken);
    const sideNav = new SideNav(dataSource, unitManager, favoritesPanel);
    {% endblock %}

    // Initialize Materialize select inputs.
    $(document).ready(function(){
      $('select').formSelect();
    });
    
    $(document).ready(function(){
      $('.tabs').tabs();
    });
    
    $(document).ready(function(){
      $('.fixed-action-btn').floatingActionButton();
    });
  </script>
  {% endblock %}
{% endblock %}