{% extends "teams/base.html" %}

{% block explore_label %}<b>Explore</b>{% endblock %}

{% block side_nav_css %}
{% endblock %}

{% block team_header %}
<div id="teamHeader" class="row">
  <div id="teamHeaderCol" class="col">
    <H4>{{ team.owner }}</H4>
    <div class="row">
      {% if team.name %}
        <div id="teamName">
          {{team.name}}
        </div>
      {% endif %}
    </div>
    <div class="row">
      {% if team.description %}
        <div id="teamDescription">
          {{team.description}}
        </div>
      {% endif %}
    </div>
    <div id="teamHeaderFormat" class="row">
      <div class="col s12 m3">
        <label>Points</label>
        <div>{{team.point_limit}}</div>
      </div>
      <div class="col s12 m5">
        <label>Age</label>
        {% if team.age == "modern" %}<div>Modern</div>{% endif %}
        {% if team.age == "golden" %}<div>Golden</div>{% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block explore_tab_bar %}
{% endblock %}

{% block side_nav %}
{% endblock %}

{% block side_nav_includes %}
{% endblock %}

{% block side_nav_scripts %}
{% endblock %}

{% block favorites_panel %}
{% endblock %}

{% block favorites_tab %}
{% endblock %}

{% block favorites_object %}
<script id="favoritesObject" type="applications/json">[]</script>
{% endblock %}