{% extends "base.html" %}

{% block explore_label %}<b>Explore</b>{% endblock %}

{% block link_tags %}
  {{ block.super }}
  <link type="text/css" rel="stylesheet" href="/static/css/team_list.css" media="screen,projection">
  <link type="text/css" rel="stylesheet" href="/static/css/user.css" media="screen,projection">
{% endblock %}

{% block main %}
<div id="userContainer" class="row">
  <div id="userHeader" class="row">
    <br>
    <h3 class="center-align">Explore Teams</h3>
  </div>
</div>
<div id="recentTeamList" class="teamListContainer"></div>
{% endblock %}


{% block script_tags %}
  <script type="text/javascript" src="/static/js/team_list_manager.js"></script>

  {{ block.super }}
  {{ team_list|json_script:'recentTeams' }}

  <script type="text/javascript">
    var teamListManager = new TeamListManager(
        null,
        document.getElementById('recentTeams').textContent);
  </script>
{% endblock %}