{% extends "teams/base.html" %}

{% block explore_label %}<b>Explore</b>{% endblock %}

{% block team_header %}
{% endblock %}

{% block team_manager_includes %}
{% endblock %}

{% block team_container %}
{% endblock %}

{% block team_object %}
{% endblock %}

{% block team_manager_scripts %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript">
    const setId = getQueryParam("set");
    const unitId = getQueryParam("unit");
    if (setId) {
      sideNav.showUnitList(setId);
    }
    if (unitId) {
      unitManager.showUnit(unitId);
    }
  </script>
{% endblock %}

{% block favorites_tab %}
{% endblock %}

{% block favorites_panel %}
{% endblock %}

{% block favorites_object %}
<script id="favoritesObject" type="applications/json">[]</script>
{% endblock %}

{% block side_nav_scripts %}
const sideNav = new SideNav(dataSource, unitManager, null);
{% endblock %}
