main {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* The min height is the size of the screen, plus a bit more to always push
   * the footer to below the bottom of the screen. */
  min-height: calc(100vh + 136px);
}

/* Team Header styles */
#teamHeaderContainer {
  position: relative;
  background-image: linear-gradient(#155cff, #6ca4ed);
  padding: 30px, 0px;
  color: white;
}

#teamHeader {
  max-width: 50%;
  margin: auto;
  padding: 10px;
}

#teamHeader * {
  margin: 8px 0 0 0;
}

#teamHeader div input,
#teamHeader div label {
  color: white;
}

#teamHeader div input {
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 0 0 transparent;
}

#teamHeader .input-field input[type=text]:focus {
  color: black;
  background-color: white;
}

#teamHeader .input-field div input[type=text]:focus {
  color: white;
  background-color: transparent;
}

#deleteTeamButton {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

/* Team Body styles */
#teamBodyContainer {
  display: flex;
  background-color: transparent;
  flex: 1 1 auto;
}

#exploreTabBar {
  width: 100%;
  height: 48px;
  background-color: white;
  z-index: 1;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

#exploreTabBar .tabs {
  position: absolute;
  left: 0px;
  width: 300px;
}

#exploreTabBar .tabs .tab a {
  color: #6ca4ed;
  padding-top: 8px;
}

#exploreTabBar .tabs .tab a:focus {
  background-color: #6ca4ed33;
}

#exploreTabBar .tabs .indicator {
  height: 5px;
  background-color: #6ca4ed;
}

#quickSearchBox {
  position: absolute;
  left: 300px;
  width: calc(100% - 300px);
  max-width: 500px;
  height:44px;
  color:white;
  margin-top: 2px;
  border-radius: 10px;
  background-color: #6ca4ed33;
}

#quickSearchBox:focus-within {
  box-shadow: 0 1px 1px 0 #41454954, 0 1px 3px 1px #41454926;
}

#quickSearchBox label i {
  color: black;
}

#quickSearchButton {
  position: absolute;
  left: 2px;
  top: 2px;
  padding-top: 0px;
}

#quickSearchButton a:hover {
  background-color: #6ca4edaf !important;
}

#quickSearch {
  position: absolute;
  left: 50px;
  width: calc(100% - 50px);
  color: black;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 0 0 transparent;
  border-radius: 10px;
  background-color: transparent;
}

/* Hack to keep the colors the same when using autofill. */
#quickSearch:-webkit-autofill,
#quickSearch:-webkit-autofill:focus,
#quickSearch:-webkit-autofill:active {
  box-shadow: 0 0 0px 0px transparent inset !important;
  -webkit-background-clip: text;
}

#teamContainer {
  margin-top: 10px;
  min-height: 250px;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
}

#teamContainer .column {
  margin: 0 10px 0 10px;
}

#teamMainForce {
  width: 375px;
}

#teamSideline {
  width: 300px;  
}

#teamTarotCards {
  width: 300px;  
}

.teamSection {
  position: relative;
}

#teamSectionMapButton {
  position: absolute;
  top: -7px;
  left: 55px;
}

#teamSectionObjectsButton {
  position: absolute;
  top: -7px;
  left: 70px;
}

#teamSectionTarotCardButton {
  position: absolute;
  top: -7px;
  left: 95px;
}

.teamSectionHeaderButton a:hover {
  background-color: #6ca4edaf !important;
}

.teamItem {
  height: 25px;
  margin-top: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, .14);
  display: flex;
  align-items: bottom;
  justify-content: flex-start;
}

.teamItem:hover .teamItemPoints {
  display: none;
}

.teamItem:hover .teamItemRemoveButton {
  display: unset;
}

.teamItemRemoveButton {
  display: flex;
  align-items: center;
  border-radius: 12px;
  background-color: transparent;
  transition: background-color .3s;
  display: none;
}

.teamItemRemoveButton:hover {
  border-radius: 12px;
  background-color: black !important;
}

.teamItemRemoveButton i {
  color: red;
}

.teamItemText {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.teamItemUnitLink {
  color: black;
}

.teamItemUnitLink:hover {
  border-bottom: 1px solid black;
}

/* Unit area styles */
#unitContainer {
  position: relative;
  min-height: 550px;
}

#unitCardsContainer {
  display: flex;
}

#unitCardsContainer .column {
  padding: 10px;
}

#addUnitButtonContainer {
  position: absolute;
}

#addUnitButtonDropdown {
  width: 200px !important;
}

#mapCanvas {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
}