.combatSymbol {
  position: absolute;
  width: 28px;
  height: 24px;
  top: 0px;
  border-top-right-radius: 10px 12px;
  border-bottom-right-radius: 10px 12px;
  background-color: black;
}

.unitDialEntry {
  text-align: center;
  font-family: 'Gill Sans', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  padding: 0px 0px !important;
  border-radius: 0px;
  /*border: 2px solid red;*/
  margin: 2px;
  line-height: normal;
  font-size: 14px;
  
  /* Added these while playing with bystander */
  width: 18px;
  height: 19px;
}

.unitDialEntryKO {
  padding: 0px 0px !important;
  text-align: center;
  font-family: comic sans ms;
  font-weight: 700;
  color: red;
  font-size: 14px;
}

.unitSpecialPowersTable {
  font-family: Tahoma;
  font-size: 10px;
  table-layout: auto;
  line-height: 1.5em;
}

.unitSpecialPowerRow {
  border-bottom: none !important;
}

.unitSpecialPowerImg {
  vertical-align: top;
  padding: 0px 3px 5px 0px !important;
  width: 28px;
}

.unitSpecialPower {
  vertical-align: top;
  padding: 0px 3px 2px 0px !important;
}

.unitSpecialPowerIcon {
  padding: 2px 2px;
  min-width: 28px;
  min-height: 28px;
}

.unitSpecialPowerRallyDie {
  padding: 0px 4px;
}

.unitSpecialPowerPointValue {
  font-size: 8px;
}

.unitSpecialPowerRally {
  width: 28px;
  height: 60px;
  border-radius: 14px;
  box-shadow: 0 2px 2px rgb(0, 0, 0, 50%);
}

.unitSpecialPowerPlotPoints {
  position: absolute;
  left: 17px;
  top: 7px;
  font-size: 8px;
}

.unitPointValues {
  position: absolute;
  left: 0px;
  width: 182px;
  height: 24px;
  color: white;
  background-color: black;
  border-radius: 0px 12px 12px 0px;
  font-size: 14px;
  font-family: arial, sans-serif;
  text-align: center;
  line-height: 1.75em;
}
