#userContainer {
  width: 100%;
  height: 120px;
}

#userHeader {
  position: absolute;
  width: 100%;
  height: 250px;
  background-image: linear-gradient(#155cff, #6ca4ed);
  color: white;
  font-family: "Inter var",system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  letter-spacing: 1px;
}