{% extends "account/base.html" %}
{% load account socialaccount %}

{% block head_title %}Sign In - HCUnits{% endblock %}
{% block extra_head %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="accountCardTitle" class="row">Sign in</div>
<div id="accountCardText" class="row">Use one of the third-parties listed below:</div>
<div id="accountButtons">
  <div class="row">
    <form action="{% provider_login_url "google" %}" method="post">
      {% csrf_token %}
      <button id="accountButtonGoogle" class="accountButton" type="submit">
        <img class="accountButtonLogo" src="/static/images/accounts/google_logo.svg">
        <div id="accountButtonTextGoogle" class="accountButtonText">Sign in with Google</div>
      </button>
    </form>
  </div>
  <div class="row">
    <form action="{% provider_login_url "facebook" %}" method="post">
      {% csrf_token %}
      <button id="accountButtonFacebook" class="accountButton" type="submit">
        <img class="accountButtonLogo" src="/static/images/accounts/facebook_logo.png">
        <div  id="accountButtonTextFacebook" class="accountButtonText">Login with Facebook</div>
      </button>
    </form>
  </div>
</div>
{% endblock %}

