{% extends "account/base.html" %}
{% load account socialaccount %}

{% block head_title %}Complete Registration - HCUnits{% endblock %}

{% block content %}
<div id="accountCardTitle" class="row">Complete Registration</div>

<div id="registrationForm">
  <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn waves-effect waves-light blue" id="registrationSubmitButton" type="submit" name="action">Register</button>
  </form>
</div>
{% endblock %}