/* Build Container styles */
#buildContainer {
  background-color: #F0F0F0;
  overflow-y: hidden;
}

/* Team Header styles */
#teamHeaderContainer {
  background: linear-gradient(135deg, rgb(169,184,195) 100%, rgb(238,238,238) 0%);
  padding: 30px, 0px;
}

#teamHeader {
  max-width: 50%;
  margin: auto;
  padding: 10px;
}

#teamHeader * {
  background-color: transparent;
  border-color: transparent;
  display: inline-block;
  margin: 0px;
}

#teamOwner {
	font-size:18px;
}

.teamInput {
	padding: 0px;
	border: 1px solid transparent;
}

input#teamName {
	font-size:24px;
}

.teamSelect {
	padding: 0px;
	border: 1px solid transparent;
	font-size:12px;
  background-color: transparent;
}

#teamFormatContainer {
  display: flex;
  gap: 20px;
}

#teamPointLimit {
  flex-basis: max-content;
}

#teamFormat {
  flex-basis: max-content;
  align-self: flex-end;
}

#teamVisibility {
  flex-basis: max-content;
}
/* Search Source styles */
#searchSourceContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #212121;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 50%);
  padding: 10px;
}

/* Quick Search styles */
#quickSearchContainer {
  display: flex;
	flex-basis: max-content;
  align-items: center;
	height: 60px;
	border: 1px solid #000000;
	border-radius: 5px;
	background-color: #FFFFFF;
}

#quickSearchInput {
	width: 250px;
	font-size: 20px;
	margin-left: 5px;
	margin-top: 15px;
	border: none;
}

#quickSearchInput:focus {
	border: none;
}

#quickSearchButton {
	width: 40px;
	height: 58px;
	border: none;
	border-radius: 5px;
}

#quickSearchIcon {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 25;
}

/* Set Menu styles */
#setMenuContainer {
  background-color: transparent;
}

 #setMenu {
   display: flex;
   flex-wrap: nowrap;
   overflow-x: auto;
}

div.setItem {
	flex: 0 0 auto;
	width: 50px;
	padding-top:2px;
  padding-bottom:2px;
	text-align:center;
	color: #000000;
	border: 1px solid #000000;
	border-radius: 5px;
	background-color: #FFFFFF;
  display: inline-block;
}

img.setIcon {
	width: 32px;
	height: 32px;
	margin:3px;
	display:block;
	margin-left: auto;
	margin-right: auto;
}

div.setName {
	font-size:10px;
	font-weight:bold;
}

/* Team Body styles */
#teamBodyContainer {
  background-color: transparent;
  height: 500px
}

/* Search Results styles */
#searchResultsContainer {
  border-right: 1px solid black;
  width: 300px;
  height: 500px;
	display: flex;
	flex-flow: row wrap;
	flex-direction: column;
	padding: 0px;
}

#sideNav {
	overflow-y: auto;
	overflow-x: hidden;
}

#searchResults li {
	min-height: 0px;
}

.searchResultInfo {
	font-size: 10px !important;
}
